<header class="bg-primary text-white sticky-top">
  <nav class="d-flex justify-content-between p-3 align-items-center text-center">   
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="fa-solid fa-bars fs-1 text-white"></span>
    </button>
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header d-flex align-items-center">
        <h3 class="m-0 p-0 align-self-center">Budget App</h3>
        <button type="button" class="btn-close btn-close-white " data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link fs-1" aria-current="page" href="<%= groups_path %>">Home</a>
          </li>
          <li class="nav-item">
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-warning offcanvas-title mx-auto", id:"offcanvasDarkNavbarLabel" %>
          </li>
        </ul>
      </div>
    </div>
    <h2 class="m-0 p-0">Categories</h2>
    <i class="fa-solid fa-magnifying-glass text-white fs-1"></i>
  </nav> 
</header>